
body {
	background-color: #A1D490;
}


#title {
	width: 35%;
	text-align: center;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	color: white;
}
#nav {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
}
#scoreboard {
	width: 20%;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-right: 75%;
	margin-left: 0;
	color: white;
}
#play-again {
	width: 20%;
	text-align: center;
	float: right;
	margin-top: 2%;
	margin-bottom: 2%;
	color: white;
}

#instructions {
	width: 30%;
    text-align: center;
    margin: 0 auto;
    color: white;
    font-size: 160%;
}

#radio {

}

#koala {
	display: none;
	max-width: 15%;
	max-height: 15%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
}

#question {
	width: 50%;
	display: block;
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 1%;
	background-color: #A1D490;
	border-radius: 25px;
}

#explanation {
	width: 50%;
	display: block;
	margin-left: auto;
	margin-top: 2%;
	margin-right: auto;
	text-align: center;
	padding: 1%;
	background-color: #A1D490;
	border-radius: 25px;
}


ul, form {
	list-style-type: none;
	width: 20%;
	display: block;
	margin-left: auto;
	margin-top: 2%;
	margin-right: auto;
	text-align: center;
	background-color: #A1D490;
	border-radius: 25px;
}
input {
	padding: .5em;
	text-align: left;
}
#submit {
	min-width: 8%;
	margin-left: 33%;
	display: none;

}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
	body {
		font-size: 2.75em;
		background-color: #A1D490;
	}
}






